.StartPageContent-circle1 {
    position: absolute;
    top: -353px;
    left: -604px;
}

.StartPageContent-circle2 {
    position: absolute;
    top: -452px;
    left: -538px;
}

.StartPageContent-circle3 {
    position: absolute;
    top: -338px;
    left: -480px;
}
