.MenuButton-button {
    position: absolute;
    background-color: rgb(16,26,36);
    width: 180px;
    height: 81px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.MenuButton-text {
    width: fit-content;
    margin-left: 50%;
    margin-top: 40.5px;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 30px;
}