.Header-Logo {
    max-width: 15%;
    z-index: 1;
    margin-left: 5%;
    width: fit-content;
}

.Header-Menu {
    width: 60%;
    max-width: 60%;
}

.Header-all {
    display: flex;
    width: 100%;
    height: 100px;
    margin-left: 5%;
}

@media screen and (max-width: 850px) {
    .Header-all {
        flex-direction: column;
        margin-left: 0;
    }

    .Header-Menu {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        height: fit-content;
    }

    .Header-Logo {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
}